<app-section-title
  titleText="LiveSmart"
></app-section-title>

<h3>Try it out:</h3>

<p>Visit <a class="link" target="_blank" href="https://mydashboard.getlivesmart.com/login">mydashboard.getlivesmart.com</a> and click  “Try the demo”.</p>

<p>LiveSmart produces personalised health reports using data from blood tests and a health questionnaire.</p>

<p>Projects I have worked on include:</p>

<ul>
  <li>
    <strong>Customer feedback</strong> — I worked closely with the design team to create a user feedback survey, comprising a range of new UI components and styles and highly customized behaviour based on specific user flows. I also worked closely with the backend team to implement an event tracking solution, enabling the design team to monitor and improve UX.
  </li>
  <li>
    <strong>Internationalisation and localisation</strong> — using transloco (<a class="link" target="_blank" href="https://ngneat.github.io/transloco/">here</a>) and the lokalize platform (<a class="link" target="_blank" href="https://lokalise.com/">here</a>), I managed a project to localise the LiveSmart platform for the France market.
  </li>
  <li>
    <strong>Website and content server</strong> — using Wordpress and configuring Advanced Custom Fields (ACF) to be consumed by an Angular frontend. This involved building many new UI components and making them flexible and extensible enough to use across multiple LiveSmart projects.
  </li>
  <li>
    <strong>Data collection UI</strong> — creating a complex form for use by healthcare professionals to record a variety of medical data, implementing custom validation logic for highly idiosyncratic behaviour.
  </li>
</ul>

<p>During my time at LiveSmart, I've become proficient with:</p>

<ul>
  <li><strong>Angular</strong>
    <ul>
      <li>Angular versions 9 through 13</li>
      <li>Animations</li>
      <li>Dependency Injection</li>
      <li>Routing</li>
      <li>OOP</li>
      <li>Reactive Forms</li>
    </ul>
  </li>
  <li><strong>TypeScript</strong>
    <ul>
      <li>Creating and extending interfaces, enums, types</li>
      <li>Working with classes, inheritance, and member visibility</li>
      <li>Using utility types to simplify custom interfaces</li>
    </ul>
  </li>
  <li><strong>RXJS</strong>
    <ul>
      <li>Creating, consuming and disposing of subscriptions</li>
      <li>Manipulating data streams using pipeable operators: <code>mergeMap</code>, <code>concatMap</code>, <code>map</code>, <code>filter</code>, <code>takeUntil</code>.</li>
    </ul>
  </li>
  <li><strong>NGRX</strong>
    <ul>
      <li>Managing state involving large and complex datasets across multiple projects</li>
      <li>Expanding the NGRX store for new features</li>
      <li>Creating and extending actions, reducers, effects, and selectors</li>
    </ul>
  </li>
  <li><strong>Bootstrap</strong></li>
  <li><strong>SCSS</strong></li>
  <li><strong>HTML5</strong>, including semantic HTML and ARIA</li>
  <li><strong>Git</strong> CLI</li>
</ul>

<app-section-title
  titleText="Side projects"
></app-section-title>

<p>I've worked on an MVP for an edtech project, which gave me the chance to work with:</p>

<ul>
  <li><strong>Speech synthesis</strong> using the Web speech API</li>
  <li><strong>Authentication, storage and databases</strong> using Firebase</li>
  <li><strong>JIRA</strong> project setup and management</li>
</ul>