<app-section-title
  titleText="Thanks for dropping by!"
></app-section-title>

<p>My name is David Wildman and I'm a junior-mid level developer based in London.</p>

<p>Before turning to JavaScript, I studied <span class="green">Mandarin Chinese</span>, had a career in media sales, and did a variety of translation work.</p>

<p>One of my translations recently got <a class="link" target="_blank" href="https://link.springer.com/chapter/10.1007/978-981-16-2309-7_6">published</a>, and several more are on the way.</p>

<p>During the first lockdown in 2020, I signed up for a software development course with <a class="link" target="_blank" href="https://nology.io/">_nology</a>. I learned <span class="green">JavaScript</span> and <span class="green">React</span>.</p>

<p>After finishing at _nology, I started working at <a class="link" target="_blank" href="https://www.getlivesmart.com/">LiveSmart</a> in September 2021 as a Frontend Developer, using <span class="green">Angular</span>, <span class="green">TypeScript</span>, doing reactive programming with <span class="green">RXJS</span> and using the Redux pattern with <span class="green">NGRX</span>. I also do some <span class="green">email development</span> (who doesn't love <span class="green">HTML tables?</span>)</p>

<p>Outside my work at LiveSmart, I have been learning <span class="green">C</span> and <span class="green">Python</span> through Harvard University's <a target="_blank" href="https://pll.harvard.edu/course/cs50-introduction-computer-science?delta=0">CS50x</a> course.</p>

<p>All my experience so far has been working remotely, so <span class="green">I am keen to be in an office, around other developers</span>.</p>

<p>I have a solid amount of frontend experience now, and I am interested in <span class="green">moving in to a full-stack role</span>.</p>

